*{
box-sizing:border-box;
margin:0;
padding:0;
}

.menu{
text-align:center;
width:100%;
position:fixed;
z-index:10;
background-color:rgba(255,255,255,1);
height:50px;
}


ul li{
txet-align:center;
font-size:x-small;
display:inline-block;
list-style:none;
width:15%;
height:10px;
margin-top:30px;
margin-left:8px;
margin-right:8px;
}
.small-menu{
margin-right:0px;
}

.contents-box-side1{
padding:200px 280px;
height:460px;
width:48%;
margin-left:2%;
float:left;
background-color:blue;
display:inline-block;
background-size:cover;
}
.contents-box-side2{
height:460px;
width:48%;
margin-right:2%;
float:left;
}

.contents-box-side2 img {
width:100%;
height:100%;
}

.contents-box{
height:462px;
width:100%;
margin-top:50px;
display:inline-block;
}

.middle{
text-align:center;
margin-top:20px;
margin-bottom:20px;
height:50px;
width:100%;
}


.middle-low{
margin-top:5px;
display:inline-block;
height:300px;
width:100%;
}

.middle-low img{
width:100%;
height:300px;
}

.contents{
text-align:center;
margin-top:20px;
margin-bottom:20px;
}

.float-box{
clear:both;
}


.gallary{
width:80%;
margin-left:10%;
margin-right:10%;
}

.box1{
display:inline-block;
width:25%;
}

.box1 img{
width:100%;
height:100px;
}

.box2{
float:left;
width:100px;
height:100px;
margin-left:2%;
margin-right:2%;
}

.box2 img{
width:100px;
height:100px;
}

.box3{
float:left;
width:100px;
height:100px;
margin-left:2%;
margin-right:2%;
}

.box3 img{
width:100px;
height:100px;
}

.box4{
float:left;
width:100px;
height:100px;
margin-left:2%;
margin-right:20%;
}

.box4 img{
width:100px;
height:100px;
}



.footer{
text-align:center;
padding:80px;
display:inline-block;
width:100%;
height:200px;
color:white;
background:url(7.jpg);
background-size:cover;
}

@media(max-width: 500px){
.menu{
display:none;
}

.contents-box{
margin-top:5px;

}
.box1{
width:100%;
}
}

@media(min-width:500px){
.slide-menu{
display:none;
}
}
