*{
box-sizing:border-box;
margin:0;
padding:0;
}

.header1{
text-align:center;
    width:100%;
    position:fixed;
    z-index:1;
}

.header2{

}

.scroll-menu{}

.main{

}

.main-contents{

}

.area{}
.article{}

.contents-side1{

}

.contents-side2{

}

.contents-side3{

}

.contents-side4{

}

.contents-side5{

}

.fotter1{}

.footer2{}



@media(){
これがレスポンシブ
実際のレトリップと違ってもいいので、レスポンシブ



}
